<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin">
            <i class="fa fa-user-secret fa-lg"></i> Admin Panel
        </a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        <li><a href="/member"><i class="fa fa-bolt fa-fw"></i> Members Panel</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {echo $user->name} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/member"><i class="fa fa-user fa-fw"></i> Dashboard</a></li>
                <li><a href="/member/profile"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li><a href="/admin/index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                <li><a href="/admin/search.html"><i class="fa fa-search fa-fw"></i> Search</a></li>
                <li><a href="/admin/dataAnalysis.html"><i class="fa fa-line-chart fa-fw"></i> Analytics</a></li>
                <li>
                    <a href="#"><i class="fa fa-newspaper-o fa-fw"></i> NewsLetter<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/marketing/createNewsletter.html">Create</a></li>
                        <li><a href="/marketing/manageNewsletter.html">Manage</a></li>
                        <li><a href="/marketing/manageGroups.html">Manage Groups</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-list fa-fw"></i> Items<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/plan/create.html">Create</a></li>
                        <li><a href="/plan/manage.html">Manage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-archive fa-fw"></i> Packages<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/marketing/createPackage.html">Create</a></li>
                        <li><a href="/marketing/managePackage.html">Manage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-tags fa-fw"></i> Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/fakereferer/all.html"><i class="fa fa-codepen fa-fw"></i> FakeReferer</a></li>
                        <li><a href="/analytics/logs.html"><i class="fa fa-file-text-o"></i> View Logs</a></li>
                        <li><a href="/member/all.html"><i class="fa fa-users fa-fw"></i> Users</a></li>
                        <li><a href="/detector/approve.html"><i class="fa fa-bolt fa-fw"></i> Triggers</a></li>
                    </ul>
                </li>
                <li><a href="/plan/transactions.html"><i class="fa fa-credit-card fa-fw"></i> Payments</a></li>
                <li><a href="/application/libraries/MongoDB/admin.php"><i class="fa fa-database fa-fw"></i> Database</a></li>
            </ul>
        </div>
    </div>
</nav>
