Dear {$organization->name},

Thank you for setting up an account with us. We look forward to working with you!

Your account has been set up in our system. The login information is as follows:

Url: http://cloudstuff.tech/auth/login.html
Login Email: {$user->email}
Password: {$pass} (You may change your password at any time in the "My Account" section)

You may log in at any time to review your account, manage your services, submit support tickets, and pay invoices. Should you have any questions please contact us.

Thank You,
Cloudstuff Team