Dear {$organization->name}, 

Thank you for choosing CloudStuff as your internet services provider! We appreciate your business.

An invoice has been created for services from CloudStuff. Please find the details from your account.

If you fail to submit payment by the invoice due date, your service will be disconnected at midnight the day after the due date and your account will be assessed a $5 late fee.
Failure to make payment within 48 hours of the disconnection will result in your service being terminated and a termination fee of $10 assessed against your account.

Regards,
Faizan Ayubi
CEO CloudStuff
+91-9958636988