Hello,

Your requested OS reload is complete. Your login details are below:

Service: #85697 - Dual Xeon 5639 500GB SSD Preconfig
System IP: XXXXXX
Username: customer

Please log into your account to retrieve the password for this system


To access the server via SSH, please use the username and password listed above. To gain root access, issue the command 'su' once logged in via ssh using the same password above.

If your server is not accessible at this time, please reply to this email to open a support ticket.

Thank You
Cloudstuff Team