{if $is_admin}
<div class="modal fade" id="addService">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title text-center">Add a New Service</h3>
            </div>
            <form class="form" action="" method="post">
                <div class="modal-body">
                    {foreach $f in $fields}
                    <div class="form-group">
                        <label for="{echo $f['placeholder']}">{echo $f['placeholder']}</label>
                        <input type="{echo $f['type']}" name="{echo $f['name']}" {echo $f['html']} {echo $f['pattern']} class="form-control">
                    </div>
                    {/foreach}
                </div>
                <input type="hidden" name="action" value="addService">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default"><i class="fa fa-send"></i> GO</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/if}