<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
        	<div class="col-lg-12">
        		<h2 class="page-heading">Manage Items</h2>
        	</div>
        </div>

        <div class="row">
        	<div class="col-lg-12">
        		<div class="table-responsive">
        			<table class="table table-striped text-center table-hover table-bordered">
                        <thead>
                            <tr>
                                <th># ID</th>
                                <th>Plan</th>
                                <th>RAM</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $i in $items}
                            <tr>
                            	<td># {echo $i->id}</td>
                            	<td>{echo $i->plan}</td>
                            	<td>{echo $i->ram}</td>
                            	<td>
                            		{if $i->live == 0}
                            		<span class="label label-warning">Disabled</span>
                            		{/if} {else}
                            		<span class="label label-success">Enabled</span>
                            		{/else}
                            	</td>
                            	<td><i class="fa fa-inr"></i> {echo $i->price}</td>
                            	<td>
                            		<a href="/items/update/{echo $i->id}/{echo (string)((int) (!$i->live))}" class="btn-xs btn btn-primary"><i class="fa fa-floppy-o"></i> Change Status</a>
                            		<a href="/admin/update/item/{echo $i->id}" class="btn-xs btn btn-info"><i class="fa fa-edit"></i> Edit</a>

                            	</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
        		</div>
        	</div>
        </div>
    </div>
</div>
