{include client/modals/addService.html}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="paget-title">
                <h2 class="page-header text-center">Services</h2>
                <ol class="breadcrumb">
                    <li><a href="/client">Home</a></li>
                    <li class="active">Services</li>
                </ol>
            </div>
            {if isset($message)}
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {echo $message}
            </div>
            {/if}
            <div class="table-responsive">
                <table class="table table-striped text-center table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Next Renewal</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $s in $services}
                        	<tr>
                        		<td>#{echo $s->id}</td>
                        		<td>
                                    {echo $s->type}
                                </td>
                        		<td>{echo $s->price}</td>
                        		<td>{echo Framework\StringMethods::only_date($s->renewal)}</td>
                        		<td>
                        		{if $s->live}
                        		<span class="label label-success"> Completed</span>
                        		{/if} {else}
                        		<span class="label label-warning"> Completed</span>
                        		{/else}

                                {if $s->server_id !== null}
                                <a href="/client/server/{echo $s->server_id}" class="btn-xs btn btn-info"><i class="fa fa-server"></i> Server Info</a>
                                {/if}
                        		</td>
                        	</tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>

            {if $is_admin}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addService">
                <i class="fa fa-plus"></i> New Service
            </button>
            {/if}
        </div>
    </div>
</div>
