<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Management
                            </a>
                            <a href="/users/manage" class="list-group-item"><i class="fa fa-users fa-2x"></i>  Users <span class="badge">{echo Shared\Markup::nice_number(Models\User::count())}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Total Statistics
                            </a>
                            <a href="/admin/search?model=action&amp;key=live&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-search fa-2x"></i>  Keywords <span class="badge"></span></a>
                            <a href="/admin/search?model=action&amp;key=live&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-tags fa-2x"></i>  Subscriptions <span class="badge"></span></a>
                            <a href="/plan/transactions" class="list-group-item"><i class="fa fa-money fa-2x"></i>  Transactions <span class="badge"></span></a>
                            <a href="/plan/transactions" class="list-group-item"><i class="fa fa-credit-card fa-2x"></i>  Earnings <span class="badge"></span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Monitor
                            </a>
                            <a href="/admin/search?model=action&amp;key=live&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-asterisk fa-2x"></i>  Actions <span class="badge"></span></a>
                            <a href="/admin/search?model=user&amp;key=admin&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-user-secret fa-2x"></i>  Admins <span class="badge"></span></a>
                        </div>
                    </div>                    

                </div>
            </div>
        </div>
    </div>
</div>
