<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-6 col-md-6">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Total Statistics
                            </a>
                            <a href="/users/manage" class="list-group-item"><i class="fa fa-users fa-2x"></i>  Users <span class="badge">{echo Shared\Markup::nice_number(Models\User::count())}</span></a>
                            <a href="/items/manage" class="list-group-item"><i class="fa fa-server fa-2x"></i>  Items <span class="badge">{echo Shared\Markup::nice_number(Models\Item::count())}</span></a>
                            <a href="/items/orders" class="list-group-item"><i class="fa fa-users fa-2x"></i>  Orders <span class="badge">{echo Shared\Markup::nice_number(Models\Order::count())}</span></a>
                            <a href="/admin/leads" class="list-group-item"><i class="fa fa-users fa-2x"></i>  Leads <span class="badge">Removed from DB</span></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Management
                            </a>
                            <a href="/admin/search?model=action&amp;key=live&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-asterisk fa-2x"></i>  Actions <span class="badge"></span></a>
                            <a href="/admin/search?model=user&amp;key=admin&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-user-secret fa-2x"></i>  Admins <span class="badge"></span></a>
                            <a href="/admin/addNew/user" class="list-group-item"><i class="fa fa-plus fa-2x"></i>  Add Record <span class="badge"></span></a>
                        </div>
                    </div>                    

                </div>
            </div>
        </div>
    </div>
</div>
