<div class="form-area" id="form-area">
    <div class="container">
        <div class="top-bar">
            <div class="row">
                <div class="col-md-6 col-sm-6 mobile-center">
                    <h3 class="logo"><a href="/">CloudStuff</a></h3>
                </div>
                <div class="col-md-6 col-sm-6 text-right mobile-center">
                    <a href="tel:+919958636988" class="button red">+91-9958636988 <img src="{echo CDN}images/support.png" alt="Support" /> </a>
                </div>
            </div>
        </div>
        <div class="form-area-box-outer">
            <div class="form-area-box">
                <div class="section-head">
                    <div class="row text-center">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <h3>Get Started Today!</h3>
                            <p>We <b>won't SPAM</b> your mailbox, it's a <b>promise</b>. We <b>HATE SPAM</b></p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-6 col-sm-8">
                        <div class="form">
                            <form action="sendmail.php" id="contactform" class="contact-form text-center" role="form">
                                <!-- IF MAIL SENT SUCCESSFULLY -->
                                <h6 class="success">
                                <span class="olored-text icon_check"></span> Your message has been sent successfully.</h6>

                                <!-- IF MAIL SENDING UNSUCCESSFULL -->
                                <h6 class="error">
                                <span class="colored-text icon_error-circle_alt"></span> E-mail must be valid.</h6>                             
                                <input id="cf-name" type="text" name="cf-name" placeholder="Your Name">
                                <input id="cf-email" type="email" name="cf-email" placeholder="Your Email">
                                <input id="cf-phone" type="text" name="cf-phone" placeholder="Your phone">
                                <input type="submit" class="button red" value="Call Me Now !" id="submit" name="submit" data-style="expand-left"/>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <p>We Accept</p>
                        <ul class="payment-methods">
                            <li><img src="{echo CDN}images/paypal.png" alt="payment method" /></li>
                            <li><img src="{echo CDN}images/master.png" alt="payment method" /></li>
                            <li><img src="{echo CDN}images/visa.png" alt="payment method" /></li>
                            <li><img src="{echo CDN}images/ae.png" alt="payment method" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>