<div class="pricing-area" id="pricing">
    <div class="container">
        <div class="top-bar">
            <div class="row">
                <div class="col-md-6 col-sm-6 mobile-center">
                    <h3 class="logo"><a href="/">CloudStuff</a></h3>
                </div>
                <div class="col-md-6 col-sm-6 text-right mobile-center">
                    <a href="tel:+919958636988" class="button red">+91-9891048495 <img src="{echo CDN}images/support.png" alt="Support" /> </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Not Found</h2>
                    <p>Sorry!</p>
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>