<div class="container">
    <div class="top-bar">
        <div class="row">
            <div class="col-md-6 col-sm-6 mobile-center">
                <h3 class="logo"><a href="/">CloudStuff</a></h3>
            </div>
            <div class="col-md-6 col-sm-6 text-right mobile-center">
                <a href="tel:+919958636988" class="button red">+91-9958636988 <img src="{echo CDN}images/support.png" alt="Support" /> </a>
            </div>
        </div>
    </div>
    <div class="pricing-area">
        <div class="container">
            <div class="section-head">
                <div class="row text-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h3>Thank you for your order!</h3>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p>Your order is currently being reviewed by the billing department. Once approved, most orders take 2 business days to provision.</p>
                    <p>For your referance order number is #{$order->id}. If you have any questions, or need further assistance, please contact us at hemant@cloudstuff.tech</p>
                    <p>We have sent you an email with your account details</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
