<div class="container">
    {include layouts/navigation/standard.html}
    <div class="pricing-area">
        <div class="container">
            <div class="section-head">
                <div class="row text-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h3>Thank you for your order!</h3>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p>Your order is currently being reviewed by the billing department. Once approved, most orders take 2 business days to provision.</p>
                    <p>For your referance order number is #{$order->id}. If you have any questions, or need further assistance, please contact us at hemant@cloudstuff.tech</p>
                    <p>We have sent you an email with your account details</p>
                    <p class="text-center">
                        <a href="/client.html" class="button blue">Go to Account!</a>
                        <a href="/contact.html" class="button black">Contact</a>
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
        </div>
    </div>
</div>
