<div class="pricing-area" id="pricing">
    <div class="container">
        {include layouts/navigation/standard.html}
        <div class="row">
            <div class="text-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Terms of Service</h2>
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="col-md-12 col-sm-12">
                <p>
                    This site (“Site”) is operated by SwiftDeal Online LLP. (“SwiftDeal Online LLP”, “WII”, "we", "our" and "us"). The term "you" or "your" includes any
                    of your subsidiaries, affiliates, employees, agents, customers, contractors or entities you represent (“End Users”).
                </p>
                <p>
                    You agree to comply with this Agreement, including any documents, policies and guidelines incorporated by reference (referred to collectively as the
                    "Agreement", “Terms of Service”, “TOS”, or “Customer Agreement”). This Agreement takes effect when you order a product or service provided by us through
                    this Site (“Service Offering”) or click any “I Accept” button or check box or when you use any of our Service Offerings (the “Effective Date”).
                </p>
                <p>
                    1. LAWFUL AGE OR AUTHORITY TO ENTER CONTRACT.
                </p>
                <p>
                    1.1 You represent to us that you are lawfully able to enter into contracts and are at least 18 years of age. If you are entering into this Agreement for an
                    entity, such as a company, you represent to us that you have legal authority to bind that entity. If you are not at least 18 years of age or older or if
                    you are not fully able and competent to enter into the terms, conditions, and representations set forth in this Agreement, please exit the Site.
                </p>
                <p>
                    2. CHANGES TO THE TERMS OF SERVICE. We may change or modify the Terms of this Agreement from time to time without notice other than by notifying you by
                    email or on your invoice. The amended terms will become effective on the date stated in the email or invoice message. Your continued use of the Service
                    Offerings after the effective date of any changes to the Terms of this Agreement shall constitute your consent to the changes and your agreement to be
                    bound by the modified terms. You agree that we shall not be liable to you or to any third party for any modification, suspension or discontinuance of the
                    Service Offerings, the Terms, or the Site. We last modified this Agreement on the date listed at the end of this Agreement.
                </p>
                <p>
                    3. YOUR ACCOUNT.
                </p>
                <p>
                    3.1 Generally. You may use the Service in accordance with this Agreement. You agree to adhere to all rules and regulations related to your use of the
                    Service, including the Acceptable Use Policy.
                </p>
                <p>
                    3.2 Setting Up Your Account. To access the Services, you must create an account associated with a valid e-mail address and place an order for a Service
                    Offering. You are responsible for all activities that occur on your account, regardless of whether the activities are by you, your employees or a third
                    party and we are not responsible for unauthorized access to your account. You agree to contact us immediately if an unauthorized party is using your
                    account or if your account information is lost or stolen. As you place your order for Service Offerings and set up your account, the following requirements
                    apply:
                </p>
                <p>
                    (a) You may only create one account per customer name and all orders must include your real name, address, and phone number.
                </p>
                <p>
                    (b) Providing false information may result in immediate termination of all your accounts without refund.
                </p>
                <p>
                    (c) Opening multiple accounts will result in termination without refund.
                </p>
                <p>
                    3.3 Support. The support we generally provide to you and other users of the Services without charge is as follows:
                </p>
                <p>
                    (a) TICKET SYSTEM SUPPORT ONLY. This insures that communication can be tracked and documented. Support through our ticket system is generally available
                    24/7/365 on a first come, first serve delayed basis.
                </p>
                <p>
                    (b) Opening multiple tickets for the same issue within a short period of time constitutes abuse of our support ticket system and may result in termination
                    of services without refund or notice.
                </p>
                <p>
                    (c) Swearing, threats, and other abusive language is not acceptable and may result in account termination without refund.
                </p>
                <p>
                    3.4 Third Party Content. Your use of any Third Party Content or software applications is at your sole risk.
                </p>
                <p>
                    4. SERVICE AGREEMENT (“SA”).
                </p>
                <p>
                    4.1 Service Offerings. We may change or discontinue any of the Service Offerings or change or remove features of the Service Offerings at any time without
                    notice.
                </p>
                <p>
                    4.2. Service Level Agreement. Our current Service Level Agreement (SA) is as follows:
                </p>
                <p>
                    (a) UNMANAGED SERVICES ONLY. Our 24 hour on site staff will respond to tickets regarding server hardware and service disruption issues only on a first
                    come, first served basis. Clients are required to manage their own data backups and all software aspects of the server including operating system
                    configuration beyond a base OS install.
                </p>
                <p>
                    (b) We strive to and anticipate that our Service will be available to you most of the time.
                </p>
                <p>
                    (c) A Service disruption occurs when your server is completely offline for more than 15 minutes due to an unplanned fault in our networking or power
                    infrastructure.
                </p>
                <p>
                    (d) Disruptions caused by the hardware or software of the server itself are not covered by this SA.
                </p>
                <p>
                    (e) Disruptions caused by planned or unplanned maintenance are not covered by this SA.
                </p>
                <p>
                    (f) Disruptions caused as a result of actions taken by our abuse/security department are not covered under this SA.
                </p>
                <p>
                    (g) In the event that there is an unplanned Service disruption, you may open a support ticket and request an Account credit to be issued for a prorated
                    amount of your monthly invoice amount equal to the time of the Service disruption. For example: If you pay $60 per month for your server and it is
                    unavailable for 24 hours (during a 30 day month) due to an unplanned service outage, you may request an account credit for $2. You understand that this is
                    your sole remedy for an unplanned service outage.
                </p>
                <p>
                    4.3 Changes to the Service Level Agreement. We may add, change or discontinue our Service Level Agreement from time to time in accordance with the Terms of
                    this Agreement.
                </p>
                <p>
                    5. DATA PRIVACY.
                </p>
                <p>
                    5.1 Data Privacy. You consent to our collection, use and disclosure of information associated with the Service Offerings in accordance with our Privacy
                    Policy.
                </p>
                <p>
                    6. YOUR DUTIES AND RESPONSIBILITIES.
                </p>
                <p>
                    6.1 Content. You are solely responsible for the development, maintenance, use and backup of Your Content. You must confirm and monitor compliance of your
                    content with the Acceptable Use Policy, the law, and any claims that your content infringes on any person’s rights.
                </p>
                <p>
                    6.2 Backup and Security. You are solely responsible for configuring and using the Service Offerings. You are solely responsible for taking any and all
                    steps to maintain security, protection and backup of your content. We recommend that you routinely archive your content and data on a daily basis in order
                    to protect it in case of equipment failure or accidental loss caused by equipment, network, human error, or power outage. Your failure to maintain a
                    routine backup schedule to a remote backup location could result in a total loss of your data.
                </p>
                <p>
                    6.3 Violations. Any action that you knowingly or unknowingly permit any person or entity to take related to this Agreement or your content or use of the
                    Service shall be deemed an act by you.
                </p>
                <p>
                    6.4 Acceptable Use Policy. You may not use, or encourage, promote, facilitate or instruct others to use, the Service Offerings or Site for any illegal,
                    harmful or offensive use, or to transmit, store, display, distribute or otherwise make available content that is illegal, harmful, or offensive. We do not
                    voluntarily participate in any government mass collection of data and we do not ever plan to. Prohibited activities or content include:
                </p>
                <p>
                    (a) Illegal Activities. Any illegal activities, including advertising or making available gambling sites or disseminating or promoting child pornography,
                    are prohibited. You may not use Service Offerings in the commission of any crime that violates the laws of any local, state, and federal government of the
                    United States of America. Violations of this provision may result in us making your information and information about your service and your use of our
                    Service Offerings available to law enforcement with or without your consent or knowledge.
                </p>
                <p>
                    (b) Harmful or Fraudulent Activities. Activities that may be harmful to others or our operations or reputation, including promoting or disseminating
                    fraudulent goods or services or schemes, including ponzi or pyramid schemes, phishing, or pharming, or engaging in deceptive practices.
                </p>
                <p>
                    (c) Infringing Content. You may not upload any material that violates or infringes on the copyright, intellectual property rights or trademark rights of
                    any individual or organization.
                </p>
                <p>
                    (d) Offensive Content. Content that is defamatory, grossly offensive, obscene, abusive, invasive of privacy, or is otherwise objectionable, including
                    content that exploits children or constitutes child pornography, relates to bestiality, expresses bigotry or hatred, constitutes harassment, or depicts
                    non-consensual sex acts. This includes material that defames, abuses, or threatens any person or group. Content including nude art, pornography,
                    sex-related merchandising and links to such sites elsewhere that are permitted by the laws in Republic of India comply with acceptable use.
                </p>
                <p>
                    (e) Harmful Content. Content, software or computer technology that may damage, interfere with, intercept, or expropriate any system, program, or data,
                    including viruses, trojan horses, worms, time bombs, or cancelbots are strictly prohibited. Piracy, hacking, cracking, phreaking, warez, pyrotechnics,
                    exploitive software and texts or communications that educate or encourage this activity and/or use are also prohibited.
                </p>
                <p>
                    (f) Security Violations. You may not use Services Offerings to violate the security or integrity of any network, computer, communications system, software
                    application, network or computing device (each, a “System”).
                </p>
                <p>
                    (g) Network Abuse. You may not make network connections to any users, hosts, or networks unless you have permission to communicate with them. Prohibited
                    activities include: (i) Monitoring or crawling of a System; (ii) Denial of Service (DoS) - Inundating a target with communication requests; (iii)
                    Interfering with the proper functioning of any System, including mail bombing or flooding techniques; (iv) Operating network services like open proxies,
                    open mail relays, or open recursive domain name servers; (v) Using manual or electronic means to avoid any use limitations; (vi) Attack traffic that
                    disrupts any portion of our network (incoming or outgoing) will be blocked until the customer is able to work with security personnel to resolve the issue;
                    (vii) IRC websites and IRC servers are prohibited; (viii) You may not upload ROMs and Emulators; (ix) You must contact us prior to installing a CDN within
                    our infrastructure. "Shared Resource" CDN’s are strictly prohibited.
                </p>
                <p>
                    (h) E-Mail or Other Message Abuse. You will not distribute, publish, send, or facilitate the sending of unsolicited mass/bulk e-mail (UCE) or other
                    messages, promotions, advertising, or solicitations (like “spam”). You will not alter or obscure mail headers or assume a sender’s identity. You will not
                    collect replies to messages sent from another internet service provider. You will not reference Us in any unsolicited email that you send.
                </p>
                <p>
                    6.5 Monitoring and Enforcement. We reserve the right, but do not assume the obligation, to investigate any violation of the Acceptable Use Policy. We may:
                </p>
                <p>
                    (a) Investigate violations or misuse of the Service Offerings or Site; or terminate Service without warning, notice or refund; or remove, disable access
                    to, or modify any content or resource; or restrict any account to Paypal only payments; or examine the contents of any account at any time that violates
                    the Acceptable Use Policy or this Agreement.
                </p>
                <p>
                    (b) Report any activity that we suspect violates any law or regulation to appropriate law enforcement officials. Our reporting may include disclosing
                    appropriate customer information. We also may cooperate with appropriate law enforcement agencies to help with the investigation and prosecution of illegal
                    conduct.
                </p>
                <p>
                    6.6 Reporting of Violations of the Acceptable Use Policy. If you become aware of any violation of the Acceptable Use Policy, you will immediately notify us
                    and provide us with assistance, as requested, to stop or remedy the violation. To report any violation of this Policy, please use our ticketing system.
                </p>
                <p>
                    7. SERVICE ORDERS &amp; PAYMENT
                </p>
                <p>
                    7.1. Service Fees. All Services are prepaid at the time of order. We bill you monthly thereafter. We may invoice you more frequently if we believe that
                    your account may be fraudulent or at risk of non-payment. You will pay us using one of the payment methods we support. All amounts payable will be made
                    without setoff or counterclaim, and without any deduction or withholding. Fees for any new Service will be effective when we post updated fees on the Site
                    unless we stated otherwise in a notice. We may increase fees for any existing Service Offerings at any time by providing you notice to your last known
                    email address. We may charge you a late fee on all late payments and a reconnect fee on all terminated accounts.
                </p>
                <p>
                    (a) Your monthly bandwidth allotment is calculated based off your upstream plus downstream traffic. Bandwidth overages will be charged $.02 per GB.
                </p>
                <p>
                    (b) One free manual OS reload is allowed per billing period. Each additional OS reload will incur a $25 fee.
                </p>
                <p>
                    7.2 Taxes. All fees and charges payable by you are inclusive of applicable taxes and duties, including VAT and applicable sales tax. As such, you pay no
                    tax.
                </p>
                <p>
                    7.3 Set Up Fees. There are no set up fees related to our standard Service Offerings.
                </p>
                <p>
                    7.4 Ordering. The order process for Service Offerings is as follows:
                </p>
                <p>
                    (a) All orders must include your real name, address, phone number and email address. Providing false information may result in immediate termination of all
                    your accounts without refund. Clients are limited to one account. Opening multiple accounts will result in termination without refund.
                </p>
                <p>
                    (b) Orders are deployed in the order in which they are received.
                </p>
                <p>
                    (c) Payment is required at the time the order is placed. Failure to complete payment will result in the order being discarded by our system.
                </p>
                <p>
                    (d) After your initial order and your service is active (“Service Activation Date”), your monthly invoice date is every 29 to 31 days thereafter. Your
                    monthly invoice renewal date is automatically adjusted to the approximate day of the month that your server is put online. It is your responsibility to
                    check the monthly renewal date on your invoice to confirm when it is due.
                </p>
                <p>
                    (e) We deploy servers during business days only (Monday through Friday) except holidays. Servers are not deployed on Saturday or Sunday.
                </p>
                <p>
                    7.5 Billing. The billing process related to your Service is as follows:
                </p>
                <p>
                    (a) Due to the nature of our industry and the costs involved with provisioning and maintaining your Service, we do not offer refunds or pro-rated refunds.
                </p>
                <p>
                    (b) Invoices are generated 10 days before the date they are due. At our sole discretion, email reminders may be sent at 7 days, 4 days and 1 day before the
                    due date to your last known email address. If your Account is set up on auto billing, your payment method will be charged two (2) days prior to the Due
                    Date.
                </p>
                <p>
                    (c) All invoices are emailed and are available in your Account panel. Invoices are not sent via postal mail, PDF, fax or any other method other than email.
                    We do not contact customers via phone to discuss billing issues.
                </p>
                <p>
                    (d) If your payment is declined or you fail to submit payment on or before the invoice due date, your Service will be disconnected/suspended at midnight
                    the day it is due date and your account will be assessed a $5 late fee.
                </p>
                <p>
                    (e) A billing dispute of any kind does not exempt you from paying current and future bills. Billing disputes resolved in the customer's favor will receive
                    account credit for overpayment.
                </p>
                <p>
                    (f) If any chargebacks occur on your credit card or PayPal account we reserve the right to terminate all Service and recycle your server(s) without notice.
                </p>
                <p>
                    (g) Failure to make payment within 48 hours of the time we disconnect/suspend your Service will result in your Service being terminated and a termination
                    fee of $10 will be assessed against your Account.
                </p>
                <p>
                    (h) SERVICE TERMINATION IMMEDIATELY ERASES YOUR DATA AND YOUR DATA IS NOT RECOVERABLE.
                </p>
                <p>
                    8. SERVICE SUSPENSION
                </p>
                <p>
                    8.1 We will suspend your right to access or use any portion or all of your Service and disconnect your server immediately if we determine:
                </p>
                <p>
                    (a) your use of the Service Offerings poses a security risk, or may adversely impact the Service Offerings or our systems or Content, or may subject us to
                    liability, or may be fraudulent or you are in breach of this Agreement (including if you are delinquent on your payment obligations). If your payment is
                    declined or you fail to submit payment on or before the invoice due date, your Service will be suspended/disconnected at midnight the day it is due and
                    your account will be assessed a $5 late fee; or
                </p>
                <p>
                    (b) you have ceased to operate in the ordinary course of business, made an assignment for the benefit of creditors or become the subject of any bankruptcy,
                    reorganization, liquidation, or dissolution.
                </p>
                <p>
                    8.2 Suspension Impact. If we suspend your right to access or use any portion or all of the Service Offerings:
                </p>
                <p>
                    (a) you remain responsible for all fees incurred through the date of suspension; and
                </p>
                <p>
                    (b) you remain responsible for any applicable fees for any Service Offerings you continue to have access to, and for fees related to in-process tasks; and
                </p>
                <p>
                    (c) Our right to suspend your access or use of the Service Offerings is in addition to our right to terminate this Agreement.
                </p>
                <p>
                    9. SERVICE TERM &amp; TERMINATION
                </p>
                <p>
                    9.1. Term. The term of this Agreement will commence on the Effective Date and will remain in effect until terminated by you or us.
                </p>
                <p>
                    9.2 Termination.
                </p>
                <p>
                    (a) You may terminate this Agreement for any reason by logging into your web portal and cancelling any or all of your Service Offerings. We may terminate
                    this Agreement at any time for any reason.
                </p>
                <p>
                    (b) For Cause Termination. Either party may terminate this Agreement for cause if there is a breach of this Agreement by the other party. We may terminate
                    this Agreement immediately if any act or omission by you results in a suspension. Your failure to make payment within 48 hours of the time we
                    disconnect/suspend your Service will result in your Service being terminated and a termination fee of $10 will be assessed against your Account. SERVICE
                    TERMINATION IMMEDIATELY ERASES YOUR DATA AND YOUR DATA IS NOT RECOVERABLE. We may also terminate if our relationship with a provider of software or
                    technology we use to provide the Service Offerings expires or changes; or if we believe providing the Services could create a financial or technical burden
                    or a security risk for us; or in order to comply with the law or requests of governmental entities; or if we determine any Service Offering has become
                    impractical for any reason.
                </p>
                <p>
                    9.3. Termination Impact.
                </p>
                <p>
                    (a) Upon termination of this Agreement all your rights immediately terminate and you remain responsible for all fees incurred through the date of
                    termination, including fees for in-process tasks and SERVICE TERMINATION IMMEDIATELY ERASES YOUR DATA AND YOUR DATA IS NOT RECOVERABLE.
                </p>
                <p>
                    (b) Post-Termination Assistance. Any post-termination assistance from us is in our sole discretion and subject to our agreement in writing from a manager.
                    Communications from our customer service representatives through the ticketing system do not constitute our agreement to any post termination assistance.
                    Termination erases all of Your Content and, as such,<a name="_GoBack"></a> we are unable to assist in retrieving any lost data; and you will be unable to
                    retrieve Your Content from the Services.
                </p>
                <p>
                    10. LICENSE RIGHTS AND RESTRICTIONS AND YOUR WARRANTIES
                </p>
                <p>
                    10.1 Adequate Rights. You represent and warrant to us that you have all rights necessary to enter into this Agreement; and none of Your Content or use of
                    it or our Service will violate the Acceptable Use Policy.
                </p>
                <p>
                    10.2 Service Offerings License. As between you and us, we own and reserve all right, title, and interest in and to the Service Offerings. We grant you a
                    limited, revocable, non-exclusive, non-transferrable license to do the following during the Term: (i) access and use the Services solely in accordance with
                    this Agreement.
                </p>
                <p>
                    10.3 License Restrictions. You may not use Service Offerings for any purpose other than as permitted by this Agreement. All licenses immediately terminate
                    if you do not comply with this Agreement.
                </p>
                <p>
                    11. INDEMNIFICATION
                </p>
                <p>
                    11.1. You will defend, indemnify, protect and hold harmless us and our employees, officers, directors, members or shareholders, lenders, principals,
                    managers and representatives from and against any claims, damages, losses, liabilities, costs, and expenses (including reasonable attorneys’ fees
                    regardless of whether any action is ever commenced) arising out of or relating to any third party claim, suit, action or proceeding brought against us
                    concerning: (a) your use of the Service Offerings (including any activities under your account and use by your employees and personnel); (b) breach of this
                    Agreement or violation of applicable law, rule or regulation by you; (c) your content or processes, including any claim involving alleged infringement or
                    misappropriation of third-party rights by the use or marketing of Your Content; (d) a dispute between you and any End User; (e) any negligent or willful
                    act or omission by you; (f) any damages arising out of the Service Offerings or failure of Service Offerings; or (g) the destruction or loss or damage of
                    your data. If we are obligated to respond to a third party subpoena, order or process described above, you agree to reimburse us for reasonable attorneys’
                    fees, as well as all employees’ and contractors’ time and expense spent responding to the subpoena, order or process at our then-current hourly rates.
                    These obligations survive termination of your relationship with WII or your use of our Service or Site. WII reserves the right to assume the defense and
                    control of any matter subject to indemnification by you, in which event you will cooperate with WII in asserting any available defenses.
                </p>
                <p>
                    11.2. Process. We will notify you of any claim subject to Section 11.1, but our failure to immediately notify you will only affect your obligations under
                    Section 11.1 to the extent that our failure prejudices your ability to defend the claim. You may use counsel of your own choosing (subject to our written
                    consent) to defend against a claim or to settle a claim, provided that you obtain our prior written consent. You agree that we may assume control of the
                    defense and settlement process at any time.
                </p>
                <p>
                    12. LIMITATIONS OF LIABILITY.
                </p>
                <p>
                    IN NO EVENT SHALL WII, ITS EMPLOYEES, OFFICERS, OWNERS, REPRESENTATIVES, SERVICE PROVIDERS, SUPPLIERS, LICENSORS, AND AGENTS BE LIABLE FOR ANY DIRECT,
                    SPECIAL, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO, LOSS
                    OF USE, LOSS OF GOODWILL, LOSS OF PROFITS, OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE), OR OTHERWISE,
                    ARISING OUT OF OR IN ANY WAY CONNECTED WITH (i) THE USE OR INABILITY TO USE OUR SERVICE OR SITE OR THE CONTENT, MATERIALS, SOFTWARE, INFORMATION OR
                    TRANSACTIONS PROVIDED ON OR THROUGH THE SITE, INCLUDING, BUT NOT LIMITED TO, THE INABILITY TO USE AS A RESULT OF ANY TERMINATION OR SUSPENSION OF THIS
                    AGREEMENT OR YOUR USE OF OR ACCESS TO THE SERVICE OFFERINGS, OUR DISCONTINUATION OF ANY OR ALL OF THE SERVICE OFFERINGS, OR, ANY UNANTICIPATED OR
                    UNSCHEDULED DOWNTIME OF ALL OR A PORTION OF THE SERVICES FOR ANY REASON, INCLUDING AS A RESULT OF POWER OUTAGES, AIR CONDITIONING OUTAGES, SYSTEM FAILURES,
                    HUMAN ERROR, OR OTHER INTERRUPTIONS, OR (ii) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SERVICE AVAILABLE THROUGH THE SITE
                    OR THE SITE, THE CONTENT, MATERIALS, SOFTWARE, INFORMATION, OR PRODUCTS, (iii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY
                    PRODUCTS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM OUR SITE; (iv) ANY
                    INVESTMENTS, EXPENDITURES, OR COMMITMENTS BY YOU IN CONNECTION WITH THIS AGREEMENT OR YOUR USE OF THE SERVICE OFFERINGS (v) UNAUTHORIZED ACCESS TO OR
                    ALTERATION OF OR LOSS OF YOUR TRANSMISSIONS OR DATA; (vi) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON OUR SITE; (vii) THE DELAY OR FAILURE IN PERFORMANCE
                    RESULTING FROM AN ACT OF FORCE MAJEURE, INCLUDING WITHOUT LIMITATION, ACTS OF GOD, NATURAL DISASTERS, COMMUNICATIONS FAILURE, GOVERNMENTAL ACTIONS, WARS,
                    STRIKES, LABOR DISPUTES, RIOTS, SHORTAGES OF LABOR OR MATERIALS, VANDALISM, TERRORISM, NON-PERFORMANCE OF THIRD PARTIES OR ANY REASONS BEYOND THEIR
                    REASONABLE CONTROL; (viii) ANY ERROR, OMISSION, DEFECT, VIRUS OR THEFT THAT CAUSES DAMAGE OR LOSS OF YOUR CONTENT OR DATA OR (ix) ANY OTHER MATTER RELATING
                    TO OUR SERVICE OR SITE, EVEN IF WII OR ITS AUTHORIZED REPRESENTATIVES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOUR SOLE REMEDY FOR
                    DISSATISFACTION WITH THE SERVICE OR SITE IS TO STOP USING THE SITE AND/OR OUR SERVICES.
                </p>
                <p>
                    APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OF LIABILITY, IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES SET FORTH ABOVE, SO THIS
                    LIMITATION OF LIABILITY MAY NOT APPLY TO YOU. IF ANY PART OF THIS LIMITATION ON LIABILITY IS FOUND TO BE INVALID OR UNENFORCEABLE FOR ANY REASON, THEN THE
                    AGGREGATE LIABILITY OF WII UNDER SUCH CIRCUMSTANCES FOR LIABILITIES THAT OTHERWISE WOULD HAVE BEEN LIMITED SHALL NOT EXCEED ONE HUNDRED DOLLARS ($100). IF
                    YOU DO NOT AGREE, YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SERVICE OR SITE IS TO STOP USING THE SITE AND/OR THOSE SERVICES.
                </p>
                <p>
                    You authorize us to file a copy of this Section 12 in any proceeding as conclusive evidence that you consented to limitations of liability.
                </p>
                <p>
                    13. DISCLAIMERS.
                </p>
                <p>
                    OUR SERVICE OFFERINGS ARE PROVIDED “AS IS.” WE MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE
                    REGARDING THE SERVICE OFFERINGS OR THIRD PARTY CONTENT, INCLUDING ANY WARRANTY THAT THE SERVICE OFFERINGS OR THIRD PARTY CONTENT WILL BE UNINTERRUPTED,
                    ERROR FREE OR FREE OF HARMFUL COMPONENTS, OR THAT ANY CONTENT, INCLUDING YOUR CONTENT, WILL BE SECURE OR NOT OTHERWISE LOST OR DAMAGED. EXCEPT TO THE
                    EXTENT PROHIBITED BY LAW, WE DISCLAIM ALL WARRANTIES, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR
                    PURPOSE, NON-INFRINGEMENT &amp; TITLE, OR QUIET ENJOYMENT, AND ANY WARRANTIES ARISING OUT OF ANY COURSE OF DEALING, USAGE OR TRADE PRACTICE.
                </p>
                <p>
                    You authorize us to file a copy of this Section 13 in any proceeding as conclusive evidence that you consented to limitations of warranties.
                </p>
                <p>
                    14. MISCELLANEOUS
                </p>
                <p>
                    14.1 Confidentiality. You may use WII Confidential information only in connection with your use of the Service Offerings and will not disclose it during
                    the Term or at any time during the 2 year period following your termination of Service.
                </p>
                <p>
                    14.2 Force Majeure. We will not be liable for any failure or delay to perform any obligation under this Agreement where the failure or delay results from
                    any cause beyond our reasonable control, including without limitation, acts of God, explosion, flood, fire or other casualty, vandalism, cable cut, failure
                    of commercial power, adverse weather conditions or other elements of nature, labor disputes or shortages or other industrial disturbances, inability to
                    procure materials or transportation facilities, failure of any third party (including any other supplier) to provide services or facilities or equipment
                    required for such performance or obligation, systemic electrical, telecommunications, or other utility failures, earthquake, blockages, embargoes, riots,
                    governmental action or inaction or orders (such acts including without limitation any regulatory or administrative decision making performance or
                    obligation economically or technically unfeasible), condemnation or the exercise of rights of eminent domain, acts of terrorism, national emergency, or
                    war. Invocation of this clause shall not relieve you of your obligation to pay for any Services actually provided.
                </p>
                <p>
                    14.3 Independent Contractors; Non-Exclusive Rights. We and you are independent contractors, and neither party is an agent of the other for any purpose or
                    has the authority to bind the other.
                </p>
                <p>
                    14.4 No Third Party Beneficiaries. This Agreement does not create any third party beneficiary rights in any individual or entity that is not a party to
                    this Agreement.
                </p>
                <p>
                    14.5 Waiver of Trial by Jury. We and you agree, to the fullest extent that we may lawfully do so, to waive trial by jury in any action or proceeding
                    brought by any party to this Agreement with respect to this Agreement, or any matter related to this Agreement. This waiver of right to trial by jury is
                    given knowingly and voluntarily by you, and is intended to encompass individually each instance and each issue as to which the right to a trial by jury
                    would otherwise accrue. We or you, as applicable, are hereby authorized to file a copy of this Section 14.4 in any proceeding as conclusive evidence of
                    this waiver by you and us , as applicable.
                </p>
                <p>
                    14.6 Import and Export Compliance. You agree comply with all applicable import and export regulations, including the Export Administration Regulations, the
                    International Traffic in Arms Regulations, and any sanctions programs implemented by the Office of Foreign Assets Control.
                </p>
                <p>
                    14.7 Notice.
                </p>
                <p>
                    (a) To You. We may provide any notice to you by: (i) posting a notice on the Site; (ii) posting a notice on your invoice or (iii) sending a message to the
                    email address then associated with your account. Notices we provide by posting on the Site will be effective upon posting and notices we provide by email
                    or invoice will be effective when we send the email or invoice. It is your responsibility to keep your email address current. You will be deemed to have
                    received any email sent to the email address then associated with your account when we send the email, whether or not you actually receive the email.
                </p>
                <p>
                (b) To Us. To give us notice under this Agreement, you must contact WII as follows: by certified mail to SwiftDeal Online LLP, Suite 200, 201 E. 16    <sup>th</sup>, North Kansas City, MO 64116. Notices provided by certified mail will be effective three business days after they are received.
                </p>
                <p>
                    (c) Language. All communications and notices must be in the English language.
                </p>
                <p>
                    14.8 Assignment. You will not assign this Agreement or any of your rights under this Agreement, without our prior written consent. Any assignment or
                    transfer without our prior written consent will be void. Subject to the foregoing, this Agreement will be binding upon, and inure to the benefit of the
                    Parties and their respective successors and assigns.
                </p>
                <p>
                    14.9 No Waivers. No failure by us to exercise any power, right, privilege or remedy under this Agreement, and no delay in exercising any power, right,
                    privilege or remedy under this Agreement, shall operate as a waiver of such power, right, privilege or remedy; and no single or partial exercise of any
                    such power, right, privilege or remedy shall preclude any other or further exercise thereof or of any other power, right, privilege or remedy. All waivers
                    by us must be in writing to be effective. The waiver of any breach or default of this Agreement will not constitute a waiver of any subsequent breach or
                    default.
                </p>
                <p>
                    14.10 Severability. If any term or provision of this Agreement is held to be invalid, illegal or incapable of being enforced by virtue of any federal or
                    state law, or public policy, all other terms and provisions of this Agreement shall nevertheless remain in full force and effect. Upon such determination
                    that any such term or provision is invalid, illegal, or incapable of being enforced, the Parties hereto shall negotiate in good faith to modify this
                    Agreement so as to effect the original intent of the Parties as closely as possible in an acceptable manner in order that the transactions contemplated
                    hereby are consummated as originally contemplated to the greatest extent possible. If such construction is not possible, the invalid or unenforceable
                    portion will be severed from this Agreement but the rest of the Agreement will remain in full force and effect.
                </p>
                <p>
                    14.11 Governing Law; Venue; Attorney’s Fees. This Agreement shall be construed in accordance with, and governed in all respects by, the internal laws of
                    the Republic of India, without regard to choice of law principles. Any dispute arising from this Agreement shall be governed by the laws of Republic of India, 
                    and shall be decided solely and exclusively by Republic of India. Any
                    Party who unsuccessfully challenges the enforceability of this forum selection clause shall reimburse the prevailing party for its attorney's fees, and the
                    party prevailing in any such dispute shall be awarded its attorneys' fees. You consent to exclusive jurisdiction and venue in those courts. We may seek
                    injunctive or other relief in any state, federal, or national court of competent jurisdiction for any actual or alleged infringement of our intellectual
                    property or other proprietary rights. The United Nations Convention for the International Sale of Goods does not apply to this Agreement. You authorize us
                    to file a copy of this Section 14.11 in any proceeding as conclusive evidence that you consented to venue.
                </p>
                <p>
                    14.12 Entire Agreement. This Agreement, without limitation, constitutes the complete and exclusive agreement between you and us with respect to the subject
                    matter of this Agreement and supersedes and replaces any and all prior or contemporaneous representations, understandings, agreements, negotiations or
                    communications between you and us, whether written or verbal, regarding the subject matter of this Agreement. We will not be bound by any term, condition
                    or other provision which is different from or in addition to the provisions of this Agreement (whether or not it would materially alter this Agreement). If
                    the terms of this document are inconsistent with the terms contained in any Policy, the terms contained in this document will control.
                </p>
                <p>
                    14.13 Survival. Any obligations under the Agreement which by their express terms are to survive, shall survive the expiration or termination of this
                    Agreement. In addition, any other obligations under this Agreement, which by their nature would continue beyond the termination or expiration of this
                    Agreement, including without limitation confidentiality, limitation of liability, and indemnification, shall survive the termination or expiration of this
                    Agreement.
                </p>
                <p>
                    Effective Date: 4-27-16
                </p>
            </div>
        </div>
    </div>
</div>