<div class="container">
    {include layouts/navigation/standard.html}
    <div class="form-area" id="form-area">
        <div class="container">
            <div class="form-area-box-outer">
                <div class="form-area-box">
                    <div class="section-head">
                        <div class="row text-center">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h3>Get Started Today!</h3>
                                <p>You may contact us for any kindly of query regarding web hosting or domain we will deal you and welcome you on priority.</p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-2"></div>
                        <div class="col-md-6 col-sm-8">
                            <div class="form">
                                <form action="" method="post" class="contact-form text-center" role="form">
                                    {if isset($message)}
                                    <h6 class="error" style="color: red; display: block;">
                                    <span class="colored-text icon_error-circle_alt"></span> {echo $message}</h6>
                                    {/if}
                                    <input type="email" name="email" class="form-control" placeholder="Your Email">
                                    <input type="password" name="password" class="form-control" placeholder="Your password">
                                    <input type="hidden" name="action" value="login">
                                    <input type="submit" class="button red" value="Login" id="submit" name="submit" data-style="expand-left"/>
                                    <a href="/auth/forgotpassword" class="button red" data-style="expand-left">Forgot Password</a>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>